@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap'); /* For the SideMenu */
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap'); /* For headings */
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Sans:wght@200..800&display=swap'); /* For body text */
@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primary: #F4F1DE;
  --color-secondary: #3D405B;
  --color-hover-bg: #E07A5F;
  --color-bg: #81B29A;
}

::selection {
  background-color: var(--color-hover-bg);
  color: var(--color-secondary);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
